{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% block body %}
<h1>Erreur de connexion</h1>
<p>Nous rencontrons un problème de connexion au serveur.</p>
<p>Veuillez réessayer dans quelques instants.</p>
{% endblock %}